*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:"Poppins" , helvetica , sans-serif;
}
ul{
    list-style: none;
}
a{
    color: #999;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p:hover{
    cursor: default;
}
/******************************************************   NAV-BAR   **********************************************************/   
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-bar1{
    margin-left: 1rem;
    padding: 0.1rem;
    height: 100%;
}
.nav-bar1 img{
    height: 100%;
}
.nav-bar2{
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    height: 100%;
}
.nav-el{
    color: #5e5e5e;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    border-top: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
}
.nav-el:hover{
    color: #466b96;
    border-bottom: 0.4rem solid #466b96;
}
/******************************************************   HERO  **********************************************************/
.hero{
    height: 100vh;
    
    background-image: 
        linear-gradient(
            to bottom, 
            rgba(255, 255, 255, 0) 20%,
            rgb(255, 255, 255) 100%
        ),
        url(images/bg-image9.jpg);
        /* position: relative;
        top: -5rem; */
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 3rem;
}
#date{
    font-weight: 500;
    font-size: 2rem;
    text-shadow: 2px 2px black;
    color: rgb(255, 255, 255);
    /* margin-top:2rem ; */
}
#headline{
    font-size: 5rem;
    color: #ffffff;
    text-shadow: 1px 1px black;
}
#changeHeadline{
    color:#49573f;
    /* animation-name: animation;
    animation-iteration-count: infinite;
    animation-duration: 2000ms; */
}
@keyframes animation{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
.searchbar{
    background-color: #f7f7f7;
    border-radius: 4%/50%;
    height: 4rem;
    width: 70rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.searchbar i{
    width: 5%;
    margin-left: 1%;
    font-size: 1.5rem;
}
.searchbar input{
    height: 100%;
    width:85%;
    background-color: rgba(0,0,0,0);
    border: 0;
    font-size: 1.2rem;
}
.searchbar input:focus {
    outline: none;
}
/******************************************************   WEATHER   **********************************************************/
.weather{
    font-size: 2rem;
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(images/background.webp);
    background-size: cover;
    padding-top: 5rem;
}
.fa-location-dot{
    color: #f5bc03;
    font-size: 3rem;
}
#refresh{
    border: none;
    background-color: #ffffff00;
    font-size: 2rem;
    color: rgb(51, 51, 145);
    rotate: 0deg;
}
#refresh:hover{cursor: pointer;}
#refresh.clicked{
    rotate: 360deg;
    transition: rotate 1s ;
}
.weather p{
    color: grey;
    font-size: 1.5rem;
}
#today{
    color: gray;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.currTemp{
    background-color: rgba(203, 203, 203, 0.261);
    width: 35rem;
    height: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6%/18%;
    box-shadow: 0px 0px 15px gray;
    transition: box-shadow,transform 0.3s ;
    margin-bottom: 5rem;
}
.currTemp h1{
    font-weight: 2000;
    font-size: 5rem;
}

/******************************************************   CURRENT CONDITIONS   **********************************************************/

.current{
    /* border: 2px solid black; */
    height: 33vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.current h3{
    width: 80%;
    text-align: left;
}
#currentList{
    /* border: 2px solid black; */
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 80%;
}
.currentListEl{
    height:100%;
    width:15rem;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    transition: box-shadow,transform 0.3s ;
}
.currentListEl:hover , .currTemp:hover , .hourlyListEl:hover , .forecastListEl:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(162, 162, 162);
}
.currentListEl img{
    max-width: 80%;
    max-height: 50%;
}

/******************************************************   HOURLY  **********************************************************/
.hourly{
    height: 33vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}
.hourly h3{
    width: 80%;
    text-align: left;
}
#hourlyList{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85%;
    width: 80vw;
    scrollbar-gutter: stable;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}
.hourlyListEl{
    height:70%;
    width:7rem;
    margin: 0 0.8rem;
    background-color: white;
    border-radius: 10%/5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    transition: box-shadow,transform 0.3s ;
    z-index: 1;
    flex-shrink: 0;
}

 #hourlyList .hourlyTemp , .hourlyRain{
    font-size: 1rem;
}



/******************************************************   FORECAST  **********************************************************/

.forecast{
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}
.forecast h3{
    width: 80%;
    text-align: left;
}
#forecastList{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
    width: 80vw;
    scrollbar-gutter: stable;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}
.forecastListEl{
    height:75%;
    width:12rem;
    margin: 0 0.8rem;
    background-color: white;
    border-radius: 10%/5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    transition: box-shadow,transform 0.3s ;
    z-index: 1;
    flex-shrink: 0;
}

#forecastList .forecastText ,#forecastList .forecastDate{
    font-size: 1rem;
}

/******************************************************   FEEDBACK   **********************************************************/
.feedback{
    background-color: #656d4a;
    height:25vh;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.feedback h1{
    color: white;
    font-size: 3rem;
}
.feedback button{
    height: 60px;
    width: 300px;
    color: #656d4a;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 20px;
    border:2px solid white;
    transition:background-color 0.5s,color 0.8s;
}
.feedback button:hover{
    background-color:#656d4a;
    color: white;
    cursor: pointer;
    transition:background-color 0.5s,color 0.5s;
    
}
/******************************************************   ABOUT   **********************************************************/
.about{
    background-image: 
        linear-gradient(
            to bottom, 
            rgba(255, 255, 255, 0) 50%,
            #333d29 100%
        ),
        url(/images/about-us1.jpg);
    background-size:cover;
    height: 220vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.about1 ,.about2, .about3{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.about1 img,.about2 img,.about3 img{
   height: 110%;
}
.abouttext{
    width: 40%;
    font-size: 2rem;
    word-spacing: 0.3rem;
    color: #333d29;
    
}
.abouttext p{
    font-size: 1.3rem;
    color: #656d4a;
    line-height: 2rem;
}





/******************************************************   FOOTER   **********************************************************/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    line-height: 2rem;
    background-color: #333d29;
}
.footer1{
    width: 100%;
    padding-left: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    /* height: 70%; */
}
.footer1 ul{
    width: 20%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #c19569;
    cursor: default;
}
.footer1 ul li{
    font-weight: 200;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s;
}
.footer1 ul li:hover{
    color:#a4ac86;
    transition: color 0.3s;
}
.footer2{
    font-size: 3rem;
}
.footer2 i{
    color: rgb(255, 255, 255);
    transition: color 0.3s;
    cursor: pointer;
}
.footer2 i:hover{
    color: #a4ac86;
    transition: color 0.3s;
}
.footer3{
    cursor: default;
    color: white;
}
.footer4{
    font-size: 2rem;
    color: #ffffff;
    transition: color 0.5s;
}
.footer4:hover{
    color: red;
    transition: color 0.5s;
    cursor: default;
}
.footer4 i{
    color: red;
}